tr{
    max-width:500px;
}

td{
    width:100px;
    height:20px;
    text-align:center;
    overflow: hidden;
}

td img{
    width: 100px;
}

.title{
    font-weight: bold;
}

.cardLocation{
    width: 100px;
    background-color:#F0F0F0;
}

