<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>


<header>
    <img id="logo" src="/assets/cards/headImage.jpg" width="300px" height="300px" alt="4 Ace's">
    <h1 class="header">Aces Up</h1>
</header>

<div id="select">
    <p>What version of the game do you want to play:</p>
    <button class="englishGame" onclick="english();EchangeDeck();">English</button>
    <br><br>
    <button class="spanishGame" onclick="spanish();SchangeDeck();">Spanish</button>
</div>

<!-- Script to change deck image depending on the game the user wants to play -->
<script language="javascript">
    function SchangeDeck() {
        document.getElementById("deckImage").src="/assets/cards/spanishbackofdeck.jpg";
    }
    function EchangeDeck() {
        document.getElementById("deckImage").src="/assets/cards/backofdeck.jpg";
    }
</script>

<table>
    <tr><td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
            <tr><td class="cardLocation l13"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
    </tr>
</table>

<!-- Deck Button and it's image -->
<div class="wrapper">
    <div id="div1" class="div1">

    <button type="button" id="dealButton" class="deckButton">
        <img src="/assets/cards/pickgame.png" alt="Deck" width="200" height="300" id="deckImage"/>
    </button>
    </div>

    <div id="div2" class="div2">

    <BR>

    <p id="swapThese">Move from column <input type="text" id="from_col" size="1"  />
    to <input type="text" id="to_col" size="1" />
    &nbsp <button id="moveButton">Move</button></p><br>
    <p id="swapThese">Note: Columns are numbered 0 to 3</p>
    </div>
</div>
<script>

var game;

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.cols[0], function( key, val ) {
        $( '#c0 td' ).removeClass("frontCard");
        $( '#c0 .l'+key ).html("<img src='/assets/cards/" + val.value + "_of_" + val.suit + ".png'" +  " onclick=\"removeCard(0)\">");
        $( '#c0 .l'+key ).addClass("frontCard");
    });

     $.each(game.cols[1], function( key, val ) {
        $( '#c1 td' ).removeClass("frontCard");
        $( '#c1 .l'+key ).html("<img src='/assets/cards/" + val.value + "_of_" + val.suit + ".png'" +  " onclick=\"removeCard(1)\">");
        $( '#c1 .l'+key ).addClass("frontCard");
    });

     $.each(game.cols[2], function( key, val ) {
        $( '#c2 td' ).removeClass("frontCard");
        $( '#c2 .l'+key ).html("<img src='/assets/cards/" + val.value + "_of_" + val.suit + ".png'" +  " onclick=\"removeCard(2)\">");
        $( '#c2 .l'+key ).addClass("frontCard");
    });

 $.each(game.cols[3], function( key, val ) {
        $( '#c3 td' ).removeClass("frontCard");
        $( '#c3 .l'+key ).html("<img src='/assets/cards/" + val.value + "_of_" + val.suit + ".png'" +  " onclick=\"removeCard(3)\">");
        $( '#c3 .l'+key ).addClass("frontCard");
    });



}

/*
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});
*/

function english(){
    $.getJSON("http://localhost:8080/game", function( data ) {
    display(data);
    game = data;
    });
    document.getElementById("select").style.display = 'none';
}

function spanish(){
    $.getJSON("http://localhost:8080/gameSpanish", function( data ) {
    display(data);
    game = data;
    });
    document.getElementById("select").style.display = 'none';
}



$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}


$("#Remove1").click(function(){
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


</script>



</body>
</html>